<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Power | EL2</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="apple-icon.png" />
    <link rel="shortcut icon" href="favicon.ico" />

    <link rel="stylesheet" href="~/vendors/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/vendors/themify-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="~/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/vendors/selectFX/css/cs-skin-elastic.css" />
    <link rel="stylesheet" href="~/vendors/jqvmap/dist/jqvmap.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css' />


   
    <link rel="stylesheet" href="~/cloudCustome.css" />
</head>

<body class="no-skin" style="background:white">
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="images/power-logo-white.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="images/" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">CONFIGURATION</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Factory</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="~/Factory/Index">List</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="~/factory/create">Create</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Primary source</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="~/PrimarySource/index">List</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="~/PrimarySource/Create/-1">Create</a></li>

                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Secondarey source</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="~/SecoundrySource/index">List</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="~/SecoundrySource/homecreate">Create</a></li>

                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Load</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="~/Load/index">List</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="~/Load/homecreate">Create</a></li>

                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Production</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="~/Production/index">List</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="~/Production/Create">Create</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="~/Home/Status"> <i class="menu-icon fa fa-cogs"></i>Device Status</a>
                    </li>


                    <h3 class="menu-title">REPORTS</h3><!-- /.menu-title -->
                    <li>
                        <a asp-action="powerpeak" asp-controller="Reports">
                            <i class="menu-icon fa fa-bar-chart"></i> Peak Power
                        </a>
                    </li>
                    <li>
                        <a asp-action="PeakPerDay" asp-controller="Reports">
                            <i class="menu-icon ti-email"></i>Peak Power Per Day
                        </a>
                    </li>
                    <li>
                        <a asp-action="LoadTimeDownRatio" asp-controller="Reports">
                        <i class="menu-icon ti-email"></i>Load Downtime Ratio </a>
                    </li>
                    <li>
                        <a asp-action="RushHour" asp-controller="Reports">
                        <i class="menu-icon ti-email"></i>Rush Hour </a>
                    </li>
                    <li>
                        <a asp-action="HarmonicOrder" asp-controller="Reports"> 
                        <i class="menu-icon ti-email"></i>Harmonics Order </a>
                    </li>
                    <li>
                        <a asp-action="Production" asp-controller="Reports">
                        <i class="menu-icon ti-email"></i> Energy Use Index </a>
                    </li>
                    <li>
                        <a asp-action="EnergyConsumed" asp-controller="Reports"> 
                        <i class="menu-icon ti-email"></i> Energy Consumption </a>
                    </li>

                    <li>
                        <a asp-action="TransitTimeAnalysis" asp-controller="Reports">
                        <i class="menu-icon ti-email"></i>Transit Time Analysis </a>
                    </li>

                    <li>
                        <a asp-action="AveragePerDay" asp-controller="Reports">
                            <i class="menu-icon ti-email"></i>Historical Statistics
                        </a>
                    </li>
                    <li>
                        <a asp-action="Instantaneous" asp-controller="Reports">
                            <i class="menu-icon ti-email"></i>Transit Time Statistics
                        </a>
                    </li>

                    <li>
                        <a asp-action="HarmonicStat" asp-controller="Reports">
                            <i class="menu-icon ti-email"></i>Harmonic Statistics
                        </a>
                    </li>

                    <li>
                        <a asp-action="AveragePower" asp-controller="Reports">
                            <i class="menu-icon ti-email"></i>Average Power
                        </a>
                    </li>

                    <li>
                        <a asp-action="SumEnergy" asp-controller="Reports">
                            <i class="menu-icon ti-email"></i>Energy
                        </a>
                    </li>


                </ul>
            </div>
        </nav>
    </aside> <!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>




                    </div>
                </div>


            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="animated fadeIn">
                @RenderBody()


            </div>
        </div>

    </div><!-- /#right-panel -->

    @*<aside id="left-panel" class="left-panel">*@
        @*<nav class="navbar navbar-expand-sm navbar-default">
           
        @*<div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href=""><i class="menu-icon fa fa-laptop"></i>Home </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Dashboard</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="~/DashBoard/DashBoard">Source</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="~/DashBoard/LoadDashBoard"> Load</a></li>
                        </ul>
                    </li>
                    <li class="menu-title">Configuration</li> /.menu-title

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Factory</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="~/Factory/Index">List</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="~/Factory/Create"> Create</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Primary source</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="~/PrimarySource/Index">List</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="~/PrimarySource/Create/-1">Create</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Secondary Source</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="~/SecoundrySource/Index">List</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="~/SecoundrySource/homecreate">Create</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Load</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="~/Load/Index">List</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="~/Load/homecreate">Create</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Production</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="~/Production/Index">List</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="~/Production/Create">Create</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="~/Home/Status"> <i class="menu-icon fa fa-cogs"></i>Device Status</a>
                    </li>
                    <li class="menu-title">Reports</li> /.menu-title
                    <li>
                        <a href="~/Reports/powerpeak"> <i class="menu-icon fa fa-bar-chart"></i> Peak Power</a>
                    </li>
                    <li>
                        <a href="~/Reports/PeakPerDay">
                            <i class="menu-icon fa fa-bar-chart"></i>Peak Power Per Day
                        </a>
                    </li>
                    <li>
                        <a href="~/Reports/LoadTimeDownRatio"> <i class="menu-icon fa fa-bar-chart"></i>Load Downtime Ratio </a>
                    </li>
                    <li>
                        <a href="~/Reports/RushHour"> <i class="menu-icon fa fa-bar-chart"></i>Rush Hour </a>
                    </li>
                    <li>
                        <a href="~/Reports/HarmonicOrder"> <i class="menu-icon fa fa-bar-chart"></i>Harmonics Order </a>
                    </li>
                    <li>
                        <a href="~/Reports/Production"> <i class="menu-icon fa fa-bar-chart"></i> Energy Use Index </a>
                    </li>
                    <li>
                        <a href="~/Reports/EnergyConsumed"> <i class="menu-icon fa fa-bar-chart"></i> Energy Consumption </a>
                    </li>

                    <li>
                        <a href="~/Reports/TransitTimeAnalysis"> <i class="menu-icon fa fa-bar-chart"></i>Transit Time Analysis </a>
                    </li>

                    <li>
                        <a href="~/Reports/AveragePerDay">
                            <i class="menu-icon fa fa-bar-chart"></i>Historical Statistics
                        </a>
                    </li>
                    <li>
                        <a href="~/Reports/Instantaneous">
                            <i class="menu-icon fa fa-bar-chart"></i>Transit Time Statistics
                        </a>
                    </li>

                    <li>
                        <a href="~/Reports/HarmonicStat">
                            <i class="menu-icon fa fa-bar-chart"></i>Harmonic Statistics
                        </a>
                    </li>

                    <li>
                        <a asp-action="AveragePower" asp-controller="Reports">
                            <i class="menu-icon fa fa-bar-chart"></i>Average Power
                        </a>
                    </li>
                    <li>
                        <a asp-action="SumEnergy" asp-controller="Reports">
                            <i class="menu-icon fa fa-bar-chart"></i>Energy
                        </a>
                    </li>





                </ul>
            </div>*@ 
        @*</nav>*@


        @*<div id="right-panel" class="right-panel" style="height:100%">
                <!-- Header-->
                <header id="header" class="header">
                    <div class="top-left">
                        <div class="navbar-header">
                            <img src="~/images/sewedy.png" alt="Logo" style="height:50px">
                            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>

                </header>
                <!-- /#header -->
                <!-- Content -->
                <div class="content">
                    <div class="animated fadeIn">
                        @RenderBody()


                    </div>
                </div>
                <!-- /.content -->
                <div class="clearfix"></div>
                <!-- Footer -->
                <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticModalLabel">Static Modal</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    This is a static modal, backdrop click will not close it.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position:absolute">
                    <div class="myfooter">
                        <footer class="site-footer ">
                            <div class="footer-inner bg-white">

                                <div class="row">
                                    <div class="col-lg-6">
                                        Copyright &copy; GenieThings Team
                                    </div>

                                </div>
                            </div>

                        </footer>
                    </div>
                </div>
                <!-- /.site-footer -->
            </div>*@



        @*<div class="footer">
                <div class="footer-inner">
                    <div class="footer-content">
                        <span class="bigger-120">
                            <span class="blue bolder">EL2 TEAM</span>
                            &copy; 2018
                        </span>


                    </div>
                </div>
            </div>*@

        @*<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>*@
        <!-- basic scripts -->
        <!--[if !IE]> -->
        <script src="~/js2/jquery-2.1.4.min.js"></script>





        <!-- <![endif]-->
        <!--[if IE]>
        <script src="assets/js/jquery-1.11.3.min.js"></script>
        <![endif]-->
        <script src="~/vendors/jquery/dist/jquery.min.js"></script>
        <script src="~/vendors/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/assets/js/main.js"></script>


        <script src="~/vendors/chart.js/dist/Chart.bundle.min.js"></script>
        <script src="~/assets/js/dashboard.js"></script>
        <script src="~/assets/js/widgets.js"></script>
        <script src="~/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
        <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="~/assets/js/init/fullcalendar-init.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>


        <!-- for screeshot-->
        <script src="~/js/html2canvas.js"></script>


        @*  *@
</body>

</html>
